<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
      window.jsData = {{{ toJSON jsData }}};
    </script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
